@font-face {
  font-family: "CelibateMonk";
  src: local("CelibateMonk"),
  url(~assets/fonts/CelibateMonk.ttf) format("truetype");
}

@font-face {
  font-family: "Frikativ";
  src: local("Frikativ"),
  url(~assets/fonts/Frikativ.ttf) format("truetype");
}

@font-face {
  font-family: "iso8";
  src: local("iso8"),
  url(~assets/fonts/iso8.ttf) format("truetype");
}

@font-face {
  font-family: "PixelTimesNewRoman";
  src: local("PixelTimesNewRoman"),
  url(~assets/fonts/PixelTimesNewRoman.ttf) format("truetype");
}

@font-face {
  font-family: "TomAndJerry";
  src: local("TomAndJerry"),
  url(~assets/fonts/TomAndJerry.ttf) format("truetype");
}

@font-face {
  font-family: "ChiKareGo2";
  src: local("ChiKareGo2"),
  url(~assets/fonts/ChiKareGo2.ttf) format("truetype");
}
